.sighn_sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  /* background-color: white; */
  z-index: 5;
  top: 0;
  right: 0;
  transition: 0.8s;
  overflow: hidden;
}
.signIn_page {
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: 0.8s;
  gap: 2vw;
  text-align: left;
}
.signIn_page .text {
  width: 25vw;
  font-size: 3vw;
}
.signIn_page form {
  display: flex;
  flex-direction: column;
  width: 25vw;
}
.signIn_page form input {
  width: 100%;
  height: 5vw;
  padding-left: 1vw;
  outline: none;
  border: 0.1px solid gainsboro;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.signIn_page button {
  width: 25vw;
  height: 4vw;
  border: none;
  background: coral;
  color: aliceblue;
}
.to_close {
  position: absolute;
  top: 1vw;
  right: 4vw;
  font-size: 2vw;
  color: black;
  cursor: pointer;
}
@media (max-width: 600px) {
  .signIn_page {
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 2;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    transition: 0.8s;
    gap: 2vw;
    text-align: left;
  }
  .signIn_page h3 {
    font-size: 8vw;
  }
  .signIn_page form {
    display: flex;
    width: 100%;
    flex-direction: column;
    width: 80%;
  }
  .signIn_page form input {
    width: 100%;
    height: 15vw;
    padding-left: 3vw;
    outline: none;
    border: 0.1px solid gainsboro;
  }
  .signIn_page button {
    width: 100%;
    height: 16vw;
    border: none;
    background: coral;
    color: aliceblue;
    font-size: 7vw;
  }
  .signIn_page .text {
    width: 80%;
    font-size: 3vw;
  }
  .to_close {
    position: absolute;
    top: 1vw;
    right: 4vw;
    font-size: 10vw;
    color: black;
    cursor: pointer;
  }
}
