main {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: scroll;
  z-index: 11;
  transition: 0.8s;
}
.my_container {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 11;
  transition: 0.8s;
}
.close_addressBar {
  position: absolute;
  top: 1vw;
  right: 10px;
  cursor: pointer;
  font-size: 3vw;
}
.address_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.address_box form {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 50%;
}
.address_box form input {
  width: 30vw;
  height: 6vw;
  padding-left: 1vw;
  outline: none;
  font-size: 2vw;
  border: 0.1px solid rgb(217, 215, 215);
  /* border-bottom: 0; */
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.home_work {
  width: 30vw;
  border: 1px solid gainsboro;
  height: 6vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.location {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-right: 1px solid gainsboro;
  color: gray;
  background: white;
  cursor: pointer;
  font-size: 2vw;
}
.location:hover {
  background: black;
  color: white;
  border: 2px solid black;
}
.location_content {
  width: 100%;
}

.address_box button {
  width: 30vw;
  height: 5vw;
  border: none;
  background: coral;
  color: aliceblue;
  margin-top: 2vw;
  font-weight: 600;
  font-size: 1.5vw;
}
.text {
  width: 60%;
}
.address_div {
  width: 100%;
  display: flex;
  padding: 2vw;
  /* justify-content: center; */
  align-items: center;
  flex-wrap: wrap;
  gap: 2vw;
  color: rgb(52, 51, 51);
}
.address_item {
  flex-basis: calc(33.33% - 2vw);
  box-sizing: border-box;
}
.adddress_on_display {
  display: flex;
  border: 1px solid gainsboro;
  width: 25vw;
  height: 20vw;
  font-size: 1.2vw;
  gap: 1vw;
  position: relative;
  padding: 2vw;
  box-sizing: border-box;
}
.adddress_on_display::-webkit-scrollbar {
  display: none;
}
.adddress_on_display:hover {
  box-shadow: 0 2px 5px rgb(187, 186, 186);
}
.content_icon {
  width: 10%;
}
.right_content p {
  color: gray;
}
.right_content .deliver_and_delete_button {
  width: 100%;
  position: absolute;
  bottom: 2.5vw;
  left: 0;
  display: flex;
  justify-content: space-evenly;
}
.right_content .deliver_and_delete_button button {
  background: #60b246;
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  text-align: center;
}
/* .address_div button {
  padding: 1vw;
  text-transform: uppercase;
  color: #60b246;
  border: 1px solid #60b246;
  cursor: pointer;
  font-weight: 600;
  background: none;
  text-align: center;
  font-size: 1vw;
} */
.location_content span {
  font-size: 2vw;
  font-weight: 600;
  color: black;
}
@media (max-width: 600px) {
  .address_div button {
    font-size: 2.4vw;
    padding: 2vw 4vw;
  }
  .right_content .deliver_button {
    border: 0;
    cursor: pointer;
    font-size: 2.4vw;
    padding: 1.5vw 2.5vw;
    border-radius: 1px;
  }
  .adddress_on_display {
    display: flex;
    border: 1px solid gainsboro;
    height: 40vw;
    width: 60vw;
    font-size: 3.2vw;
    box-sizing: border-box;
    margin-top: 2vw;
  }
  .address_div {
    flex-direction: column;
    gap: 3vw;
  }
  .address_box form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .address_box form input {
    width: 70vw;
    height: 14vw;
    padding-left: 3.5vw;
    outline: none;
    font-size: 3.5vw;
    border: 0.1px solid rgb(217, 215, 215);
  }
  .home_work {
    width: 70vw;
    border: 1px solid gainsboro;
    height: 14vw;
  }
  .location {
    font-size: 4vw;
  }
  .address_box button {
    width: 70vw;
    height: 13vw;
    border: none;
    background: coral;
    color: aliceblue;
    margin-top: 4vw;
    font-weight: 600;
    font-size: 3.5vw;
  }
  .right_content h2 {
    font-size: 4vw;
  }
  .location_content span {
    font-size: 3.5vw;
  }
}
