.suggestion_section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.food_boxes {
  width: 80%;
  height: 20vw;
  /* background-color: aliceblue; */
  display: flex;
  align-items: center;
  padding: 0 2vw;
  gap: 5.5vw;
  overflow: scroll;
  margin-top: 2vw;
  font-weight: bold;
  color: rgb(45, 44, 44);
}
.food_boxes::-webkit-scrollbar {
  display: none;
}
.food_boxes .box {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  text-align: center;
  font-size: 1.5vw;
}
.box img {
  width: 8vw;
  height: 8vw;
  border-radius: 50%;
  box-shadow: 1px 1px 8px;
  cursor: pointer;
}
.box img:hover {
  scale: 104%;
  transition: 0.5s;
}
.filter_btn_div {
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.all_items {
  height: fit-content;
  right: 5.5vw;
  font-size: 1.4vw;
  border: 1px solid gray;
  padding: 0.5vw 1vw;
  border-radius: 0.4vw;
  cursor: pointer;
  /* display: none; */
}
.all_items p {
  transition: 1s;
}
.filter_price {
  height: fit-content;
  position: relative;
  font-size: 1.4vw;
  border: 1px solid gray;
  padding: 0.5vw 1vw;
  border-radius: 0.4vw;
  cursor: pointer;
}
.dropown {
  position: relative;
  display: flex;
  align-items: center;
  margin-left: 2vw;
}
.dropdown_box {
  position: absolute;
  left: 10px;
  top: 1.7vw;
  background: rgb(255, 248, 248);
  width: 12vw;
  /* height: 10vw; */
  padding: 1vw;
  margin-top: 1vw;
  margin-left: 4vw;
  display: none;
  transition: 0.5s;
  z-index: 111;
}
.dropdown_box p {
  border-bottom: 0.1vw solid gray;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
  font-size: 2vw;
}

@media (max-width: 600px) {
  .suggestion_section {
    width: 100%;
    height: 30vw;
    display: flex;
    justify-content: center;
    position: relative;
  }
  .box img {
    width: 11vw;
    height: 11vw;
    border-radius: 50%;
    box-shadow: 1px 1px 8px;
    cursor: pointer;
  }
  .dropdown_box {
    position: absolute;
    width: 20vw;
    top: 3.4vw;
    margin-top: 1vw;
    margin-left: 8vw;
    display: none;
    transition: 0.5s;
    z-index: 111;
  } 
  .filter_price {
    font-size: 3vw;
  }
  .all_items {
    right: 5.5vw;
    font-size: 3vw;
    border: 1px solid gray;
    padding: 0.5vw 1vw;
    border-radius: 0.4vw;
    cursor: pointer;
    /* display: none; */
  } 
  .filter_btn_div {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin-top: 2vw;
  }
  .dropdown_box p {
    border-bottom: 0.1vw solid gray;
    text-align: center;
    transition: 0.5s;
    z-index: 1;
    font-size: 4vw;
  }
}
