* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

button {
  cursor: pointer;
}
.foodList_container {
  width: 100%;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center;
}
a {
  list-style: none;
  display: flex;
  color: black;
  text-decoration: none;
}
